body{
  margin: 0;
  padding: 0;
  border-width: 0;
  width: 100vw; 
  height: 100vh;
}
#map{
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
  min-height: 350px; 
}

.marker-content{
  max-width:160px;
}

.marker-content .title{
  font-size:1em;
  font-weight:bold;
  text-align:center;
  padding:4px 2px;
}

.marker-content img{
  max-width:120px;
  max-height:120px;
  display: block; 
  margin: 0 auto;
  border:1px solid #eeecec;
  border-radius: 4px;
}

.marker-content .visit-link{
  margin:6px auto; 
  box-shadow:inset 0px 1px 0px 0px #ffffff;                  
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%); 
  background-color:#f9f9f9;       
  border-radius:6px; 
  border:1px solid #dcdcdc; 
  display:block; 
  cursor:pointer; color:#444;                  
  font-size:14px; 
  font-weight:bold; 
  padding:6px 24px; 
  text-decoration:none;               
  text-shadow:0px 1px 0px #ffffff;
}